### **LIST-** Sequencial container for storing elements of multiple data types. The elements of a list can be changed in their place without causing in chnage in the address unlike strings. Hence, they are called mutable in Nature.

*CREATING A LIST*

In [1]:
lst1=list(input("Enter the sequence:"))
print(lst1)

Enter the sequence:gar4563h
['g', 'a', 'r', '4', '5', '6', '3', 'h']

In [2]:
str1="DATASTRUCTURES"
tup1=('a','b','c')
print(list(str1),list(tup1))

['D', 'A', 'T', 'A', 'S', 'T', 'R', 'U', 'C', 'T', 'U', 'R', 'E', 'S'] ['a', 'b', 'c']

In [4]:
l=[1,2,3]
l1=[l,'w',1.00]
print(l1)

[[1, 2, 3], 'w', 1.0]

*LIST TRAVERSAL*

In [5]:
lst1=list(input("Enter the elements :"))
for i in lst1:
  print(i)

Enter the elementsraasika
r
a
a
s
i
k
a

In [6]:
lst2=list(input("ENter the elements :"))
for i in range(len(lst2)):
  print("Index no :",i,"Element :",lst2[i])

ENter the elements :raasika
Index no : 0 Element : r
Index no : 1 Element : a
Index no : 2 Element : a
Index no : 3 Element : s
Index no : 4 Element : i
Index no : 5 Element : k
Index no : 6 Element : a

## **LIST OPERATIONS**

*COMPARISON OPERATORS ON LIST*

In [21]:
print([1,2,3]==[1,2,3]) #Same elemets --> TRUE
print([1,2,3]==[1,[2],3]) #Nested loop --> FALSE
print([1,2,3]!=[1,[2],3]) #Nested loop --> TRUE
print(['1','2','3']==[1,2,3]) #Different Data types --> FALSE
print([1.0,2.0,3.0]==[1,2,3]) #Integers --> TRUE
print([7,5,3]<[9,1]) # Compares the first different element --> TRUE
print([1,2,3,4]>[1,2,3,8]) #Compares the forth different element --> FALSE

True
False
True
False
True
True
False

*LIST CONCATENATION*

In [25]:
lst1=[2,3,4]
lst2=[6,7,8]
lst3=[9,10,100]
print(lst1+lst2+lst3)
res=[*lst1,*lst2,*lst3]
print(res)

[2, 3, 4, 6, 7, 8, 9, 10, 100]
[2, 3, 4, 6, 7, 8, 9, 10, 100]

*LIST REPLICATION*

In [28]:
lst1=[1,2,3]
print(lst1*3)
print(lst1*8)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

*LIST SLICING*

In [30]:
lst2=[1,2,3,4]
lst3=lst2[2:4]
print(lst3)

[3, 4]

In [35]:
lst2=[2,3,4,5,6,7]
lst3=lst2[::3]
print(lst3)

[2, 5]

In [37]:
lst2=[87,76,65,54,43,32,21,65,54]
lst3=lst2[3:-1:2]
print(lst3)

[54, 32, 65]

## **FUNCTIONS AND METHODS IN LISTS**

*APPEND()*

In [38]:
lst1=[1,2,3,4]
for i in range(5,11):
  lst1.append(i)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

*UPDATING A ELEMENT*

In [39]:
lst1=[1,2,3,4]
lst1[2]=9
print(lst1)

[1, 2, 9, 4]

In [40]:
lst1=['a','b','c']
lst1[1]="UPDATE"
print(lst1)

['a', 'UPDATE', 'c']

In [42]:
lst1=[12,34,32,12,34,5,65,76,87,9845]
lst1[0:5:2]=[0,0,0]
print(lst1)

[0, 34, 0, 12, 0, 5, 65, 76, 87, 9845]

*DELETING ELEMENTS IN LIST*

In [43]:
lst1=[23,43,54,56,87,98]
del lst1[0:3]
print(lst1)

[56, 87, 98]

In [46]:
lst1=[5,6,7,8,9,3]
item=lst1.pop(4)
print(lst1,item)

[5, 6, 7, 8, 3] 9

*INDEX()*

In [47]:
lst1=[1,2,3,4]
print(lst1.index(2))

1

*EXTEND(*)

In [49]:
lst1=[1,2,3,4]
lst2=["python","java","c++"]
lst2.extend(lst1)
print(lst2)

['python', 'java', 'c++', 1, 2, 3, 4]

*INSERT(), REMOVE(), CLEAR(), REVERSE(), SORT()*

In [50]:
lst1=[1,2,3,4,5]
lst1.insert(2,'a')
print(lst1)

[1, 2, 'a', 3, 4, 5]

In [51]:
lst1=[23,43,3,5,3,54,65,78]
lst1.remove(3)
print(lst1)

[23, 43, 5, 3, 54, 65, 78]

In [52]:
lst1=[1,2,3]
lst1.clear()
print(lst1)

[]

In [53]:
lst1=[1,2,2,4,4,3,4,5]
print(lst1.count(4))

3

In [56]:
lst1=[1,2,3,4,5,6]
lst1.reverse()
print(lst1)

[6, 5, 4, 3, 2, 1]

In [58]:
l=[2,5,4,6,7,3,98,78,67]
l.sort()
print(l)

[2, 3, 4, 5, 6, 7, 67, 78, 98]

In [59]:
l=[1,2,3,4,5]
l.sort(reverse=True)
print(l)

[5, 4, 3, 2, 1]